{% extends 'base.html' %}
{% block content %}
<h1>User Details</h1>
<p>username: {{ user.username }}</p>
<p>firstname: {{ user.first_name }}</p>
<p>lastname: {{ user.last_name }}</p>
<p>jobtitle: {{ user.job_title }}</p>
<p>Email: {{ user.email }}</p>
<p>Badges:
<table class="table">
        <tr>
            <th>Badge</th>
            <th>Date Awarded</th>
        </tr>
        {% for badge_awarded in user.badges_awarded.all %} 
        <tr>
            <td>{{badge_awarded.badge}}</td>
            <td>{{badge_awarded.created | date:"d M y"}}</td>
        </tr>
        {% endfor %}
</table>
</p>
{% endblock %}
